<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
       <%= @user.email %>.<br>
    </p>
    <h4>Thanks </h4>
  </body>
</html>